
.container {
  background:url(http://fc01.deviantart.net/fs44/i/2009/141/f/0/Abstract_Background_1_by_nyte.png);
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  width: 700px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  color:white;
}

h3 {
  color:white;
}

#scores {
  padding: 10px;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #f00;
  text-align: right;
  border-radius: 40px;
}
#scores span {
  display: inline-block;
  width: 50px;
}

circle {
-webkit-animation: spin 1s infinite alternate;
-moz-animation: spin 1s infinite alternate;
-o-animation: spin 1s infinite alternate;
-ms-animation: spin 1s infinite alternate;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(-45deg);}
100% { -webkit-transform: rotate(45deg);}
}